@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@inject IPublishedUrlProvider PublishedUrlProvider


@{
    var homePageDisplayName = "Home";
    var selection = Model.Ancestors().ToArray();
    var isFirstItem = true;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settings") ?? null;
    var backgroundImage1 = settings?.Value<IPublishedContent>("backgroundImage1").Url() ?? null;
    var backgroundImage2 = settings?.Value<IPublishedContent>("backgroundImage2").Url() ?? null;
}

<section class="page-title">
    <div class="background-container">
        <div class="background-img1">
            <img src="@backgroundImage1" alt="BackgroundImage, a half world">
        </div>
        <div class="background-img2">
            <img src="@backgroundImage2" alt="BackgroundImage, a half world the other way">
        </div>
    </div>
    <div class="container">
        <div class="heading">
            <h2>@Model.Value("pageTitle")</h2>
            @if (selection?.Length > 0)
            {
                <ul class="bread-crumbs">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        var displayName = isFirstItem ? homePageDisplayName : item.Name;
                        <li><a href="@item.Url(PublishedUrlProvider)" class="nav-link">@displayName</a></li>
                        isFirstItem = false;
                        <i class="fa-solid fa-angles-right"></i>
                    }

                    <li class="active">@Model.Name</li>
                </ul>
            }
        </div>
    </div>
</section>

